@model dynamic
@{
    ViewBag.Title = "Mockups";
}

<h2>Mockups</h2>

<ul>
    <li><a asp-action="VocabularyUser">Словарь</a></li>
    <li><a asp-action="TrainingsAll">Страница тренировок</a></li>
    <li><a asp-action="Cards">Карточки</a></li>
    <li><a asp-action="Training1"></a>Тренировка 1</li>
    <li><a asp-action="Training3"></a>Тренировка 3</li>
    <li><a asp-action=""></a>Страница пользователя</li>
    @*<li><a asp-action=""></a></li>
    <li><a asp-action=""></a></li>*@
</ul>


