@model dynamic
@{
    ViewBag.Title = "Mockups";
}

<h2>Mockups</h2>

<ul>
    <li><a asp-action="VocabularyUser">Словарь</a></li>

    <li><a asp-action="Cards">Карточки</a></li>
    <li><a asp-action="Training1">Тренировка 1</a></li>
    <li><a asp-action="Training3">Тренировка 3</a></li>
    <li></li>
    <li><a asp-action="TestsForAdmin">Список тестов для создателей тестов</a></li>
    <li><a asp-action="TestsForUser">Страница тестов для пользователя</a></li>
    @*<li><a asp-action=""></a></li>
        <li><a asp-action=""></a></li>*@
</ul>


