@model dynamic
@{
    ViewBag.Title = "Trainings";
}

<h2 class="text-center">~~~~Тренируй~~~~</h2>
<div class="card-deck">
    <div class="col-md-6 col-sm-6 col-lg-4 col-10">
        <div class="card m-2">
            <img class="card-img-top" style="max-height: 250px;padding: 10px;" src="~/img/logotr1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Тренировка "Выбери перевод"</h5>
                <p class="card-text font-italic">Дается слово и пять вариантов перевода. Необходимо выбрать правильный. Не беспокойся! С вероятностью 0.2 ты сделаешь это :D</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-4 col-10">
        <div class="card m-2">
            <img class="card-img-top" style="max-height: 250px;padding: 10px;" src="~/img/logotr2.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Тренировка "Выбери слово"</h5>
                <p class="card-text font-italic">Дается перевод и пять вариантов, среди которых нужно выбрать верное исходное слово</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-4 col-10">
        <div class="card m-2">
            <img class="card-img-top" style="max-height: 250px;padding: 10px;" src="~/img/logotr3.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Тренировка "Введи слово"</h5>
                <p class="card-text font-italic">Дан перевод. Необходимо ввести слово с клавиатуры. Будь внимателен! Каждая буква на счету</p>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-6 col-lg-4 col-10">
        <div class="card m-2">
            <img class="card-img-top" style="max-height: 250px;padding: 10px;" src="~/img/testLogo (1).jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Тренировка "Выбери перевод"</h5>
                <p class="card-text font-italic">Дается слово и пять вариантов перевода. Необходимо выбрать правильный. Не беспокойся! С вероятностью 0.2 ты сделаешь это :D</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-4 col-10">
        <div class="card m-2">
            <img class="card-img-top" style="max-height: 250px;padding: 10px;" src="~/img/testLogo (2).jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Тренировка "Выбери слово"</h5>
                <p class="card-text font-italic">Дается перевод и пять вариантов, среди которых нужно выбрать верное исходное слово</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-4 col-10">
        <div class="card m-2">
            <img class="card-img-top" style="max-height: 250px;padding: 10px;" src="~/img/testLogo (3).jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Тренировка "Введи слово"</h5>
                <p class="card-text font-italic">Дан перевод. Необходимо ввести слово с клавиатуры. Будь внимателен! Каждая буква на счету</p>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-6 col-lg-4 col-10">
        <div class="card m-2">
            <img class="card-img-top" style="max-height: 250px;padding: 10px;" src="~/img/testLogo (4).jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Тренировка "Выбери перевод"</h5>
                <p class="card-text font-italic">Дается слово и пять вариантов перевода. Необходимо выбрать правильный. Не беспокойся! С вероятностью 0.2 ты сделаешь это :D</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-4 col-10">
        <div class="card m-2">
            <img class="card-img-top" style="max-height: 250px;padding: 10px;" src="~/img/testLogo (5).jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Тренировка "Выбери слово"</h5>
                <p class="card-text font-italic">Дается перевод и пять вариантов, среди которых нужно выбрать верное исходное слово</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-4 col-10">
        <div class="card m-2">
            <img class="card-img-top" style="max-height: 250px;padding: 10px;" src="~/img/testLogo (6).jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Тренировка "Введи слово"</h5>
                <p class="card-text font-italic">Дан перевод. Необходимо ввести слово с клавиатуры. Будь внимателен! Каждая буква на счету</p>
            </div>
        </div>
    </div>
</div>
