<div class="container">
    <div class="text-center">
        <h2>Слово</h2>
        <div style="background-color: #743ebb;" class="persent offset-3 col-6 text-center">Слово</div>
        <h2>Перевод:</h2>
        <input class="col-10" type="text" aria-label="Латинское слово" />        
    </div>    
    <div class="row">
        <button type="button" class="offset-4 col-4 btn btn-primary text-center mt-2">Проверить</button>
        @*<button type="button" class="offset-4 col-4 btn btn-success text-center mt-2">Верно! :)</button>
        <button type="button" class="offset-4 col-4 btn btn-danger text-center mt-2">Неверно! :( <br> Ответ: </button>*@
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <button type="button" class="btn btn-primary text-center">Завершить тренировку</button>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-primary text-center" disabled>Дальше</button>
        </div>
    </div>
</div>