<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <h2>Слово</h2>
            <img class="pb-2" src="~/img/ioda300px.jpg" />
            <button type="button" style="width:70%; border-color: #4b1ebb;border-width: 3px;" class="btn btn-train-word text-center" >Слово</button>
        </div>
        <div class="col-6">
            <h2 class="text-center">Перевод</h2>
            <button type="button" class="btn mb-1 btn-train-word btn-block text-center">Перевод_неверный</button>
            <button type="button" class="btn mb-1 btn-train-word btn-block text-center wrong-answer">Перевод_неверный</button>
            <button type="button" class="btn mb-1 btn-train-word btn-block text-center right-answer">Перевод_верный</button>
            <button type="button" class="btn mb-1 btn-train-word btn-block text-center">Перевод_неверный</button>
            <button type="button" class="btn mb-1 btn-train-word btn-block text-center">Перевод_неверный</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <button type="button" class="btn btn-primary text-center">Завершить тренировку</button>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-primary text-center" disabled>Дальше</button>
        </div>
    </div>
</div>
