@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-100">
    <div class="row mb-3">
        <a class="btn btn-primary text-center mr-3"
           asp-area="" asp-controller="Users" asp-action="Edit">
            Редактировать профиль
        </a>
        <a class="btn btn-primary text-center mr-3"
           asp-area="" asp-controller="Manage" asp-action="ChangePassword">
            Изменить пароль
        </a>
        <a class="btn btn-primary text-center mr-3"
           asp-area="" asp-controller="Users" asp-action="Delete">
            Удалить аккаунт
        </a>
        @if (User.IsInRole("Administrators"))
        {
        <a class="btn btn-primary text-center mr-3"
           asp-area="" asp-controller="Tests" asp-action="Index">
            Тесты
        </a>
        <a class="btn btn-primary text-center mr-3"
           asp-area="" asp-controller="Themes" asp-action="Index">
            Темы
        </a>
        }
    </div>
    <div class="row">
        <div class="col-12 h-100 d-flex flex-column justify-content-center">
            <a class="align-self-center mb-2" style="font-size: 20px;">Ваш прогресс</a>
            <div style="height: 100%; overflow-x: auto"
                 class="container d-flex flex-column text-black">
                <table class="test-progrees-table">
                    <thead>
                        <tr>
                            <th>
                                Тема
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Themes)
                        {
                        <tr>
                            <td>
                                <a asp-action="Details" asp-controller="Themes" asp-route-id="@item.Id">
                                    @item.Name </a>
                                
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

