@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-100">
    <div class="row mb-3">
        <button type="button" class="btn btn-primary text-center mr-3"
                asp-area="" asp-controller="Users" asp-action="Edit">
            Редактировать профиль
        </button>
        <button type="button" class="btn btn-primary text-center"
                asp-area="" asp-controller="Manage" asp-action="ChangePassword">
            Изменить пароль
        </button>
    </div>
    <div class="row h-75">
        <div class="col-7 h-100 d-flex flex-column justify-content-center">
            <a class="text-white align-self-center mb-2" style="font-size: 20px;">your trainings</a>
            <div style="background-color: rgba(255,255,255,0.5); border-radius: 35px; height: 100%; overflow-x: auto"
                 class="container d-flex flex-column text-black">
                <table class="">
                    <thead>
                        <tr>
                            <th>
                                training name
                            </th>
                            <th>
                                exercises
                            </th>
                            <th>

                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-5 h-100 d-flex flex-column justify-content-center">
            <a class="text-white align-self-center mb-2" style="font-size: 20px;">results</a>
            <div style="background-color: rgba(255,255,255,0.5); border-radius: 35px;  height: 100%; overflow-x: auto"
                 class="container d-flex flex-column text-black">
                <table class="">
                    <thead>
                        <tr>
                            <th>
                                game date
                            </th>
                            <th>
                                Level
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Score
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
