@model LearnLatin.Models.InputAnswer

@{
    ViewData["Title"] = "Редактировать ответ для таска со вводом";
}

<h1>Редактировать ответ</h1>

<h4>Тип таска: ввод правильного ответа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AnsValue" class="control-label">Ответ</label>
                <input asp-for="AnsValue" class="form-control" />
                <span asp-validation-for="AnsValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-taskId="@ViewBag.Task.Id">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
